*.class
.devcontainer
.snakemake
.vscode
results
docs/build
.DS_Store
.R*
docs/source/_build
Rplots.pdf
causal-cmd.log
.java/
.cache/
__pycache__


hyperparams/plots/dist/change/
hyperparams/plots/dist/general/
backups/

!hyperparams/*